.section {
    margin-top: 10px;
}
.input {
    width: 230px;
    margin-top: 2px;
    padding: 3px;
    font-size: 17px;
    border: 2px solid gray;
    border-radius: 5px;
}
.span {
    margin-left: 3px;
    color: var(--color-primary)
}
.title {
    font-size: 17px;
}