.section {
    width: 75%;
}
.img {
    width: 100%;
}
.title {
    margin-top: 20px;
    font-size: 22px;
    text-transform: capitalize;
    line-height: 18px;
    font-weight: 500;
}
.date {
    margin-top: 8px;
    font-size: 13px;
    font-weight: 400;
    font-family: "Work Sans", sans-serif;
    letter-spacing: 1px;
}
.text {
    margin-top: 10px;
    letter-spacing: 1px;
    line-height: 28px;
}
.nwf {
    margin-top: 50px;
    text-align: center;
    font-size: 42px;
}
.mongo_text {
    margin-top: 40px;
    font-size: 22px;
    line-height: 26px;
}