.wrapper {
    display: flex;
}
.desc_column {
    margin-top: 2px;
    margin-left: 30px;
}
.name {
    text-transform: capitalize;
    font-size: 28px;
    letter-spacing: 1px;
}
.rating_container {
    display: flex;
    position: relative;
    width: 220px;
    margin-top: 20px;
}
.rating {
    margin-top: 1px;
    margin-left: 1px;
    height: 10px;
    background-color: #febd5b;
    position: absolute;
    z-index: -1;
}
.img_stars {
    width: 75px;
    height: 12px;
    vertical-align: inherit;
}
.remark {
    color: #5a5a5a;
    margin-left: 10px;
}
.price {
    margin-top: 20px;
    margin-bottom: 30px;
    color: var(--color-primary);
    font-size: 24px;
}
.old_price {
    margin-left: 10px;
    color: var(--color-dark);
    font-size: 20px;
    text-decoration: line-through;
}
.info_wrapper {
    display: flex;
}
.index {
    margin-top: 8px;
    font-size: 16px;
    font-weight: 500;
}
.col {
    margin-left: 10px;
    padding-bottom: 4px;
    padding-left: 10px;
    border-left: 2px solid var(--color-border);
}
.index_span {
    margin-top: 8px;
    font-size: 16px;
    text-transform: capitalize;
    color: var(--color-primary);
}
.description {
    margin-top: 50px;
    font-size: 16px;
    line-height: 24px;
}
.add_wrapper {
    display: flex;
    align-items: center;
    margin-top: 25px;
    font-size: 16px;
    margin-bottom: 15px;
}
.sign_link {
    font-size: 17px;
    text-decoration: underline;
    color: var(--color-primary);
}
.input {
    text-align: center;
    width: 120px;
    margin-left: 15px;
    padding: 13px;
    border: 2px solid var(--color-border);
    border-radius: 5px;
    z-index: 2;
    background-color: #fff;
}
.oof {
    width: max-content;
    margin: 30px auto 0;
    padding: 5px;
    color: var(--color-primary);
    font-size: 36px;
    border: 2px solid var(--color-primary);
    border-radius: 2px;
}
.animation_wrapper {
    width: min-content;
    position: absolute;
    animation: cartEffect 0.7s;
    margin-left: 125px;
    z-index: 1;
}

@keyframes cartEffect { 
    0% {opacity: 0;margin-top: -30px;}
    50% {opacity: 1;margin-top: -70px}
    100% {opacity: 0;margin-top: -30px;}
}
@media (max-width: 768px) {
    .wrapper {
        flex-direction: column;
        padding: 0 60px;
    }
    .rating_container {
        margin-top: 5px;
    }
    .desc_column {
        margin: 20px 0 0;
    }
    .price {
        margin: 20px 0 12px;
        font-size: 32px;
    }
    .old_price {
        margin-left: 10px;
        font-size: 28px;
    }
    .index {
        font-size: 22px;
    }
    .index_span {
        font-size: 22px;
    }
}
@media (max-width: 560px) {
    .name {
        font-size: 36px;
    }
    .wrapper {
        padding: 0 5px;
        margin-bottom: 20px;
    }
   
}
@media (max-width: 440px) {
    .name {
        font-size: 24px;
    }
    .quantity {
        display: none;
    }
    .input {
        margin-left: 0;
        padding: 13px 7px;
        width: 80px;
    }
    .animation_wrapper {
        margin-left: 29px;
    }
    .index {
        font-size: 16px;
    }
    .index_span {
        font-size: 16px;
    }
    .description {
        margin-top: 20px;
    }
    .price {
        font-size: 24px;
    }
    .old_price {
        font-size: 22px;
    }
}
