.section {
    margin-top: 50px;
    margin-bottom: 65px;
    padding: 70px 0;
    background-color: var(--color-light);
}
.wrapper {
    display: flex;
    gap: 25px;
}
.left {
    width: 32.8251%;
}
.right {
    width: 64.7020%;
}
@media (max-width: 950px) {
    .wrapper {
        flex-direction: column;
    }
    .left {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .right {
        width: 100%;
    }
}
@media (max-width: 580px) {
    .left {
        flex-direction: column;
    }
    .section {
        margin-top: 20px;
        padding-top: 30px;
    }
}